@page "/about"
@model AboutModel
@{
    ViewData["Title"] = "About me";
}

<div id="Body-About">
    <h1 id="Header-About">About me</h1>

    <!-- Video -->

    <!-- Poem -->
    <div id="Poem-About">
        <blockquote>
            <h3> &ldquo;At <i>no</i> time are we ever in such complete <i>possession</i> of a journey, </h3> 
            <h3> down to its last nook and cranny,</h3>
            <h3> as when we are busy with <i>preparations</i> for it.&rdquo;</h3>
            <footer>- Yukio Mishima</footer>
        </blockquote>
    </div>


    <p>Interested in my work? Have a look at my portfolio: </p>
    <a asp-area="" asp-page="/Portfolio/Index">Portfolio</a>
</div>
