@page "/about"
@model AboutModel
@{
    ViewData["Title"] = "About me";
}

<div id="Body-About">
    <h1 id="Header-About">About me</h1>

    <!-- Video -->

    <!-- Poem -->
    <div id="Poem-About">
        <blockquote>
            <h4> &ldquo;At <i>no</i> time are we ever in such complete <i>possession</i> of a journey, </h4> 
            <h4> down to its last nook and cranny,</h4>
            <h4> as when we are busy with <i>preparations</i> for it.&rdquo;</h4>
            <footer>- Yukio Mishima</footer>
        </blockquote>
    </div>

    <!-- My background -->
    <div id="Background-About">
    <h4> Who am I?</h4>
    <p> I am Bjørn Sødal, a software developer based in Norway. </p>
    <p> My passions reside in multiple respective fields related to autonomous machinery and software development, such as:</p>
    <ul> 
        <li>Robotics and Autonomous Systems</li>
        <li>Embedded Systems Development</li>
        <li>Computer Vision and Machine Vision</li>
        <li>Augmented Reality and Virtual Reality</li>
        <li>3D Modeling, Rendering and Simulation Development</li>
        <li>Signal Processing</li>
        <li>Software Security</li>
    </ul>
    <p> I am currently undertaking a Bachelor's degree in Computer Science at the University of Agder, Grimstad (UiA), where I am honing my skills and expanding my knowledge in these areas. </p>
    </div>

    <!-- Link to portfolio -->
    <div id="Closer-About">
        <h4>Want to see my work?</h4> 
        <p>Have a look at my <a asp-area="" asp-page="/Portfolio/Index">portfolio</a> </p>
    </div>

    <!-- Contanct info -->
    <div id="Contact-About">
        <h4> Contact me </h4>
        <p> Feel free to reach out to me via email at <a href="mailto:bjornsodal@gmail.com">bjornsodal@gmail.com</a>. </p>
        <p> You may also want to visit my <a href="https://github.com/BjarkanDev">GitHub</a> profile, or my <a href="https://www.linkedin.com/in/bj%C3%B8rn-s%C3%B8dal-247990354/">LinkedIn</a> profile.</p>
    </div>
    
</div>
