@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div id="Body-Home">
    <h1 id="Header-Home">Home</h1>

    <div id="Intro-Home">
        <h2>Welcome to Berkanan!</h2>
        <p>This is my own personal website where I share my personal projects, events, and more. Feel free to explore and get in touch!</p>
        <p>Check out the <a asp-area="" asp-page="/Portfolio/Index">portfolio</a> page to see my work.</p>
        <p>Check out the <a asp-area="" asp-page="/About/Index">about me</a> page to learn more about me and who I am.</p>
    </div>
</div>
