:root {
  --primary-color: white;
  --primary-color-hover: lightgrey;
  --secondary-color: black;
  --secondary-color-hover: darkgrey;
  --contrast-color: #c99d0f;
  --contrast-color-hover: #EFBF04;
}

/* Rendering body */

html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}



/* Layout rendering */

.navbar-container {
  background-color: var(--primary-color);
}

.nav-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.nav-item {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-bottom: 5px;
}

.nav-item a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 0.2s ease-in-out;
}

.nav-item a:hover {
  color: var(--contrast-color)
}

.footer {
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  text-align: center;
}

/* Individual pages 
  - Home
  - Portfolio
  - About me
*/

/* --Home-- */
#Intro-Home {
  text-align: center;
  color: var(--secondary-color);
}

#Header-Home {
  text-align: center;
  color: var(--contrast-color);
}


/* --Portfolio-- */

#Body-Portfolio {
  
}

#Header-Portfolio {
  text-align: center;
  color: var(--contrast-color);
}

#Main-Portfolio{
  text-align: center;
  color: var(--secondary-color);
}

.github-profile-badge{
  display: flex; 
  justify-content: center;
}

.github-profile-badge-name{
  color: var(--secondary-color) !important; 
}

/* --About me-- */
#Body-About {

}

#Header-About {
  text-align: center;
  color: var(--contrast-color);
}

#Poem-About {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#Background-About {
  text-align: center;
  border-style: solid;
  border-color: var(--contrast-color-hover);
  border-left: 0;
  border-right: 0;
  
}

#Closer-About {
  text-align: center;
  border-bottom: var(--contrast-color-hover);
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-radius: 0;
}

#Contact-About {
  text-align: center;
  border-bottom: var(--contrast-color-hover);
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-radius: 0;
}

i {
  color: var(--contrast-color);
}
