@page "/portfolio"
@model PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
}

<div id="Body-Portfolio">
    <h1 id="Header-Portfolio">Portfolio</h1>

    <h3 id="Main-Portfolio">Not much to display yet</h3>
    <h3 id="GitHub-Portfolio">Have a look at my GitHub account to see what I'm working on</h3>

    <!-- GitHub Account Badge -->
    <div class="github-profile-badge" style="display: flex; justify-content: center;" data-user="BjarkanDev"></div>
    <script src="https://cdn.jsdelivr.net/gh/Rapsssito/github-profile-badge@latest/src/widget.min.js"></script>

    
</div>
