/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a {
  color: #0077cc;
}

nav {
  background-color: #FFFBF7;
}

.navbar {
  display: flex;
  flex-direction: row;

}

.logo-container {
  width: 50%;
  height: auto;
}

.logo-container svg {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
